@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');

:root{
    --title-margin: 12px;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
}
p{
    margin: 0;
}
h1{
    margin: 0;
}
button{
    font-weight: bold;
    color: white;
    border-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a > *:hover {
    text-decoration:none; 
    cursor:pointer;  
    transform: scale(1.1);
    margin-left: 12px;
}

/*page layout*/

#content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(250px, 2fr));
    grid-template-rows: 1fr 2fr 2fr;
}


/*Header styling */

header{ 
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: minmax(1fr, 100px) 100px;
}


.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 24px;
    margin-left: 48px;
}

#greeting{
    display: flex;
    align-items: center;
}

#greeting-message{
    display: flex;
    flex-direction: column;
}


#search{
    margin-left: 48px;
}

#search>input{
    border-style: none;
    border-radius: 25px;
    flex-grow: 1;
    border: solid 1px black;
    background-color: #e2e8f0;
    height: 30px;
}



#profile-tray{
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile-tray>#notification{
    width: 35px;
    height: 35px;
}
#profile-tray>.profile-pic{
    margin: 0;
    margin-right: 24px;
    margin-left: 24px;
}

#button-tray{
    display: flex;
    gap: 24px;
    justify-content: center;
}
#button-tray button{
    margin-top: auto;
    margin-bottom: 12px;
    height: 40px;
    width: 125px;
    border-radius: 25px;
    background-color: #f9a8d4;
}

#button-tray button:active{
    transform: scale(.9);
}

#button-tray button:hover{
    transform: scale(1.1);
}


/*Projects content styling*/
#project-container{
    background-color: #e2e8f0;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    overflow: scroll;
    overflow: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

#project-container h3{
    margin: 0;
    margin-bottom: 12px;
}
#project-container h2{
    margin: 0;
    margin: var(--title-margin);
    font-size: 24px;
}

#projects{
    font-size: small;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 200px);
    gap: 24px;
}

#projects div{
    background-color: white;
    border-radius: 25px;
    padding: 24px;
    text-overflow: ellipsis;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.44);
}


/*announcement card styling */

#announcements{
    grid-column: 4 / 5;
    grid-row: 2 / 3;

    background-color: #e2e8f0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

}

#announcements h2{
    margin: 0;
    margin: var(--title-margin);
    font-size: 24px;
}

#announcements h4{
    margin: 0;
}

.card{
    background-color: white;
    border-radius: 25px;
    padding: 24px;
    font-size: small;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.44);
}

hr{
    border: 2px solid rgba(226, 232, 240, .5);
    border-radius: 5px;
    margin: 12px;
}


/*trending card styling */

#trending{
    grid-column: 4 / 5;
    grid-row: 3 / 4;

    background-color: #e2e8f0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

#trending h2{
    margin: 0;
    margin: var(--title-margin);
    font-size: 24px;
}

#trending h6{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

#trending img{
    margin: 0;
    margin: 8px;
    width: 50px;
    height: 50px;
}

.trending-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#trending #share{
    width: 25px;
    height: 25px;
}

#trending p{
    opacity: 60%;
}





/* Nav styling */

nav{
    background-color: #f9a8d4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.logo img{
    width: 30px;
    height: 30px;
}

.logo{
    display: flex;
    gap: 12px;
    align-items: center;
}

#dashboard-title{
    margin: 12px;
    margin-bottom: 36px;
}

#nav-link-container{
    margin-bottom: 36px;
}

#nav-link-container,
#nav-settings-container{
    margin-left: 12px;
}